
.nav-bar {
  display: flex;
  gap: 1rem;
}

.nav-bar a {
  color:#c24848;
  font-weight: bold;
  text-decoration: none;
  height: 50px;
  width: 50px;
  border-radius: 50%;
  background-color: #ffffff;
  display: flex;
  justify-content: center;
  align-items: center;
}