
footer {
  color: var(--primary-color);
  background-color: var(--secondary-color);
  padding: 1.5rem;
  flex-grow: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

footer span {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
}

footer span a {
  color: var(--primary-color);
}


