
.home-menu {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 2.5rem;
  height: 100%;
}
.menu-option {
  color: white;
  background-color: #c24848;
  text-decoration: none;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  padding: 2rem;
  border-radius: 5px;
  font-size: calc(1.2vw + 1.2vh + .5vmin);
}

.menu-option:hover {
  background-color: #812424;
  cursor: pointer;
}

@media screen and (max-width: 480px) {
  .home-menu {
    width: 100%;
    flex-direction: column;
    justify-content: flex-start;
    gap: 0;
  }

  .menu-option {
    width: 100%;
    border-radius: 0;
    font-size: 1rem;
    padding: 3rem;
    background-color: white;
    color: #c24848;
    border-top: 1px solid #c24848;
  }

  .menu-option:last-child {
    border-bottom: 1px solid #c24848;
  }

  .menu-option:hover {
    background-color: #812424;
    color: white;
    font-weight: bold;
  }
}
